<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Ignition sim with effort commands for computed-torque control. -->
  <xacro:macro name="ur_sim_ros2_control" params="
    name
    initial_positions:=${dict(shoulder_pan_joint=0.0,shoulder_lift_joint=-1.57,elbow_joint=0.0,wrist_1_joint=-1.57,wrist_2_joint=0.0,wrist_3_joint=0.0)}
    ">

    <xacro:macro name="ur_sim_joint" params="joint_name initial_value">
      <joint name="${joint_name}">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${initial_value}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </xacro:macro>

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>ign_ros2_control/IgnitionSystem</plugin>
      </hardware>
      <xacro:ur_sim_joint joint_name="shoulder_pan_joint" initial_value="${initial_positions['shoulder_pan_joint']}"/>
      <xacro:ur_sim_joint joint_name="shoulder_lift_joint" initial_value="${initial_positions['shoulder_lift_joint']}"/>
      <xacro:ur_sim_joint joint_name="elbow_joint" initial_value="${initial_positions['elbow_joint']}"/>
      <xacro:ur_sim_joint joint_name="wrist_1_joint" initial_value="${initial_positions['wrist_1_joint']}"/>
      <xacro:ur_sim_joint joint_name="wrist_2_joint" initial_value="${initial_positions['wrist_2_joint']}"/>
      <xacro:ur_sim_joint joint_name="wrist_3_joint" initial_value="${initial_positions['wrist_3_joint']}"/>
    </ros2_control>

  </xacro:macro>

</robot>
